/*****************************************************************************/
/*
/* Css for styling in posts
/*
/*****************************************************************************/



/* Picture first, then text, then "br clear" */
img[alt=textbypic] {
    float: left;
    width: 300px;
    padding: 5px;
}
img[alt=picbytext] {
    float: right;
    width: 300px;
    padding: 5px;
}

/* 1-column pictures */
img[alt=pic1col] {
    width: 600px;
    padding: 5px;
}
/* 2-column pictures */
img[alt=pic2col] {
    width: 300px;
    padding: 5px;
}
/* 3-column pictures */
img[alt=pic3col] {
    width: 200px;
    padding: 5px;
}

.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}